<%= breadcrumbs_for_loan(@loan) %>

<div class="page-header">
  <h1>Generate Premium Schedule</h1>
</div>

<p>From this page you can input the information to generate the Premium Payment Schedule applicable to this loan.</p>
<p>Please note that the terms entered here must represent the final terms agreed with the Applicant.</p>

<hr>

<%= simple_form_for(@premium_schedule, url: loan_premium_schedule_path(@loan, redirect: params[:redirect]), html: {method: :put, class: 'form-horizontal form-state-aid-calculation'}) do |f| %>
  <%= f.input :initial_draw_year, as: :string, placeholder: 'yyyy' %>
  <%= f.input :initial_draw_amount, as: :currency %>
  <%= f.input :repayment_duration, as: :months, disabled: true, input_html: { class: 'input-mini' } %>

  <%= field_set_tag 'Draw Information' do %>
    <%= f.input :initial_capital_repayment_holiday, as: :months, input_html: { class: 'input-mini' } %>
    <%= f.input :second_draw_amount, as: :currency %>
    <%= f.input :second_draw_months, as: :months, input_html: { class: 'input-mini' } %>
    <%= f.input :third_draw_amount, as: :currency %>
    <%= f.input :third_draw_months, as: :months, input_html: { class: 'input-mini' } %>
    <%= f.input :fourth_draw_amount, as: :currency %>
    <%= f.input :fourth_draw_months, as: :months, input_html: { class: 'input-mini' } %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, value: 'Submit', class: 'btn-primary', data: { 'disable-with' => 'Submitting...' } %>
    <%= link_to 'Cancel', leave_premium_schedule_path(@loan), class: 'btn' %>
  </div>
<% end %>
