<%= breadcrumbs(
  link_to('Realisations Report', new_realisations_report_path)
) %>

<div class="page-header">
  <h1>Realisations Report</h1>
</div>

<p>This page summarises the results of your Realisations Report.</p>

<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Criterion</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <th>Report Start Date</th>
      <td><%= @realisations_report.start_date.to_s(:screen) %></td>
    </tr>
    <tr>
      <th>Report End Date</th>
      <td><%= @realisations_report.end_date.to_s(:screen) %></td>
    </tr>
    <% if @realisations_report.must_select_lenders? %>
      <tr>
        <th>Lenders</th>
        <td><%= @realisations_report.lender_names.join(', ') %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<p><strong>Data extract found <%= pluralize @realisations_report.realisations.size, 'row' %>.</strong></p>

<% if @realisations_report.realisations.size > 0 %>

  <p>You can download the report by clicking the Download button below.</p>

  <%= simple_form_for(@realisations_report, url: realisations_reports_path(format: :csv)) do |f| %>
    <%= f.hidden_field :start_date, value: f.object.start_date.to_s(:screen) %>
    <%= f.hidden_field :end_date, value: f.object.end_date.to_s(:screen) %>
    <% f.object.lender_ids.each do |lender_id| %>
      <%= f.hidden_field :lender_ids, { multiple: true, value: lender_id } %>
    <% end %>
    <div class="form-actions">
      <%= f.button :submit, value: 'Download Report', class: 'btn-primary' %>
    </div>
  <% end %>

<% else %>

  <%= link_to 'Try again', new_realisations_report_path %>

<% end %>
